### Generic ###

# VIM
*.sw*
*.vim*
*.obsession*

# misc. garbage
*.bak
*.old*
~*
*~
-

# Damn you steve jobs!!!!
.DS_Store

# vscope
.vscode/*
*.code-workspace
.history/

# potential credentials
*.pem
*.secret
**/credentials.json
**/client_secrets.json
**/client_secret.json
*creds*
*.dat
*password*
*.httr-oauth*
*.env
!*.sample.env

# C/C++
*.o
*.out
*.a
*.so

# Python
__pycache__/
*.py[cod]
*$py.class
.clirope
*.egg-info
build
dist
coverage.json
htmlcov
*.spec

# Archives
*.zip
*.tar
*.rar
*.tar.*
*.tzst
*.tgz
*.txz
*.zst
*.gz

# Multimedia
*.xcf
*.svg
*.jpg
*.jpeg
*.png
*.avif
*.gif
*.pdf
!img/*.jpg
!img/*.png
!img/*.svg

### Project-specific ###







